extends layout
block extraHeader
  link(rel='stylesheet', href='/stylesheets/styleConfig.css')
  link(rel='stylesheet', href='/stylesheets/styleDispositivos.css')

block content
  include ./includes/menuConfig.jade
  table#tablaDispositivos
    - for (var i = 0; i < dispositivos.length; ++i) {
        tr.filaDispositivos
          td(id=dispositivos[i],class='celdaDispositivo')
           img(src='../images/rfid.jpg',id='imagenDispositivo')
           p= 'Id: '+dispositivos[i]
           p= 'Aula: '+aulas[i]
           p= 'Ultima conexión: '
           p= conexiones[i]
           button#borrarDispositivo.btn.btn-danger(value=dispositivos[i]) Borrar
    - }
  a(href='/')
    button#exit.btn.btn-primary Exit
  button#anadirDispositivo.btn.btn-primary Añadir
    div#divAnadirDispositivo(title='Añadir Dispositivo')
    div#buscador(title='Buscador')
  script
    include ../public/publicJs/socket.io.js
    include ../public/js/config.js
    include ../public/js/configDispositivos.js
  include ./includes/footer.jade